{% extends 'base.html.twig' %}

{% block title %}Détail member{% endblock %}

{% block body %}
<a class="btn btn-danger" href="">Supprimer</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Pseudo</th>
            <th>Email</th>
            <th>Newsletter</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>{{ member.id }}</td>
            <td>{{ member.pseudo }}</td>
            <td>{{ email }}</td>
            <td>{{ newsletter }}</td>
        </tr>
    </tbody>
</table>    
{% endblock %}