html {
    overflow-y: scroll;
}

body {
    background-color: #fff9f2;
    font-family: 'Work Sans', sans-serif;
}

.navbar {
    background-color: #45624c;
}

.header-logo__title {
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0.8em 0 0.3em;
}

.nav-link {
    color: white;
    font-weight: bold;
}

.h-md-300 {
    height: 300px;
}

.movie__poster {
    background-position: center;
    background-size: cover;
}

.movie__poster img {
    width: 100%;
    /* height: 300px;
    object-fit: cover;
    object-position: top; */
}

.movie__favorite {
    position: absolute;
    top: 0;
    right: 0;
}

.allocine nav {
    background-color: yellow;
}