{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h2 class="d-flex justify-content-center align-items-center">Connexion au Backoffice de Seasonly</h2>
    <div class="d-flex justify-content-center align-items-center" style="height: 65vh;">

        <form action="{{ path('app_back_login') }}" method="post" class="row g-3">
            <div class="col-auto">
                <label for="pseudo" class="visually-hidden">Nom d'utilisateur</label>
                <input type="text" class="form-control" id="pseudo" name="_username" value="{{ last_username }}" placeholder="Nom d'utilisateur">
            </div>
            <div class="col-auto">
                <label for="password" class="visually-hidden">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe">
            </div>
            <input type="hidden" name="_target_path" value="/back/">
            <div class="col-auto">
                <button type="submit" class="submitButton btn mb-3">Se connecter</button>
            </div>
        </div>
    </form>
{% endblock %}

