{% extends 'base.html.twig' %}

{% block title %}Genre List{% endblock %}

{% block body %}
<a class="btn btn-primary" href="">Ajouter</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td>
                <form method="post" action="" onsubmit="return confirm('Etes vous sur de vouloir supprimer');">
                    <a href="" class="btn btn-secondary">Modifier</a>
                    <input type="hidden" name="_token" value="">
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}