{% extends 'base.html.twig' %}

{% block title %}Update vegetable{% endblock %}

{% block body %}
<h1>Modifier le fruit/légume : {{ vegetable.title }}</h1>

{{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}
<button class="btn btn-primary">Modifier</button>
{{ form_end(form) }}
{% endblock %}