{% extends 'base.html.twig' %}

{% block title %}Seasonly backoffice{% endblock %}

{% block body %}
    <h1>Bienvenue sur le backoffice de Seasonly</h1>
    <!-- todo ajouter la liste des 5 derniers légumes/fruits ajoutés -->
    <!-- todo ajouter la liste des 5 dernieres recettes ajoutées -->
{% endblock %}